---
title: "About"
layout: "pnyx"
isPage: true
date: 2015-10-28
---
<div class="container marketing dvRowContainerWheatish dvPaddingZero dvMarginZero"  >
<div class="container text-center ">
</br>
</br>
 <h1 class="h1Indexblack" style="margin-bottom:5%;margin-top:5%;">About Pnyx and the idea</h1>
 <div class="row  dvPaddingZero " >	  
        <div class="col-md-7 dvcol7blue" >
		<h3 class="h3IndexWhite" style="text-align:left;">
		Pnyx is an integrated, client-centred case management platform, specifically developed for community care agencies with the direct participation of carers.
 </br>
 </br>
Collaboration is enabled at 2 key levels:
 <ul>
<li>Between members of stand-alone organisations</li>
<li>Between groups of organisations</li>
</ul>
 </br>
Pnyx is accessible at anytime and from anywhere. The cloud-based system also keeps your information safe and secure. 
 
Pnyx complies with Australian privacy and copyright law - all data is stored in Australia, and subject to Australian law.
		</h3></div>
</div>
 <div class="row  dvPaddingZero" >	  
        <div class="col-md-7 dvcol7Wheatish" >
		<h1 class="h1Indexblack">Origin of Pnyx</h1>
		<h3 class="h3IndexBlack" style="text-align:left;">
Pnyx was established in the year 2012 by Systems Architect <b>Juan Pereyra</b>. Juan was working in the community services sector at the time when he began to develop a strong interest in "Social Technology", i.e. technology developed to be more organic and humanistic.
 </br>
It occured to <b>Juan Pereyra</b> that he could use such technology to create an efficient social, transfisciplinary case management system. He left paid employment, and committed himself to designing Pnyx, driven by his passion to help the community. 

		</h3></div>
</div>
<div class="row dvPaddingZero" >	  
        <div class="col-md-7 dvcol7" >
		<h1 class="h1IndexWhite">Our Passion</h1>
		<h3 class="h3IndexWhite" style="text-align:left;">
Our core ethos is to ultimately operate for the benefit of the community. 
 </br>
</br>We derive our income from trade, not donations and allocate 50% of all profits to our social mission:
</br></br>
 <ul>
<li>Empowering community service organisations to deliver better services to the most vulnerable in our society 
 
</li><li>We believe Pnyx can help deliver lasting social outcomes by creating stron networks amongst community organisations, enabling enhanced care for the vulnerable in society, all at an affordable cost. 
 
</li><li>Pnyx believes that community organisations that are connected can cut through multiple, complex layers of communication that often impede coordinated care. This is especially apparent when several service providers and organisations are involved. 
		</h3></div>
</div>
 <div>
</div>
</div>