---
title: "Home"
layout: "pnyx"
isPage: true
date: 2015-10-30
---




    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox" >
        <div class="item active">
          <img class="first-slide" src="/images/oldage.png" alt="First slide" >
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="ContactUs.html" role="button">>>&nbsp;Know More</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/images/oldage2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="ContactUs.html" role="button">>>&nbsp; Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/images/oldage3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="ContactUs.html" role="button">>>&nbsp; Register</a></p>
            </div>
          </div>
        </div>
      </div>
     

	 <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

   <div class="row dvRowBlue">
	  <h1 class="h1IndexWhite">Why Pnyx</h1>
	  <h3 class="h3IndexWhite" >		
	<p>  
A system dedicated to bringing people together, creating circles of care. 
 </br></br>
We help the helpers.</p></br></br>
      <div class="col-lg-4 blueBkColor" style="">
          <img class="img-thumbnail" src="/images/clientass.png" alt="Client Assessment" width="150" height="150">
         <h3 class="h3IndexWhite">Creating and sharing client assessments</h2>
        
          <p></p>
        </div><!-- /.col-lg-4 -->
     <div class="col-lg-4 blueBkColor">
          <img class="img-thumbnail" src="/images/report-icon.png" alt="Reports" width="150" height="150">
          <h3  class="h3IndexWhite">Extracting reports on client activities/outcomes for funding, invoicing or payroll purposes</h2>
         
        </div><!-- /.col-lg-4 -->
       <div class="col-lg-4 blueBkColor">
          <img class="img-thumbnail" src="/images/Calendar-Time.png" alt="Timelines" width="150" height="150">
          <h3  class="h3IndexWhite"> Creating case timelines – so all personnel can easily track and monitor case records</h2>
          <!--<a class="btn btn-default" href="#" role="button">View details &raquo;--></a></p>
        </div><!-- /.col-lg-4 -->
		
      </div><!-- /.row -->

      <!-- Three columns of text below the carousel -->
      <div class="row dvRowWhite" >
	 <h1 class="h1Indexblack"> What is Pnyx?</h1>
	  <h3 class="h3Indexblack">
	  
		</br>Pnyx is the Collaboration Platform of the future.
		</br>
		</br>Developed for the community, aged care and disability sectors, Pnyx places  the client at the centre helping you deliver improved quality of care.
		</br></br>Pnyx helps you deliver improved quality of care because you can record, track and share client progress/information quickly. Everyone on your team can access it anywhere at anytime and you can do so more cost-effectively.
		</br></br>
		<a class="btn btn-lg btn-primary" href="ContactUs.html" role="button">>> Contact Us</a>
		</h3>
		<p></p>		
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
 <div class="container marketing dvContainer">
     
<h1 class="h1IndexWhite text-center">Pnyx 2.0 has launched! </h2>
      <div class="row featurette"  >	  
        <div class="col-md-7 blueBkColor" >
          <h3 class="featurette-heading h3IndexWhite" ">Watch our video</br></br></br>Presenting Pnyx 2.0, we believe that caring for loved ones shouldn't be a complicated process - that's why we have created more handy features in our newest version.</h3>
          
        </div>
        <div class="col-md-5 blueBkColor dvPaddingZero">
          <iframe width="70%" height="50%" src="https://www.youtube.com/embed/fVqylhyax6o" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

	</div>
	<div class="container marketing dvRowContainerBlack">

      
       <div class="row featurette" >	  
        <div class="col-md-7 dvcol7" >
          <h2 class="featurette-heading h2Heading">What Pnyx provides</br>
		   </h2>
         </br>
		  <a class="right carousel-control" style="position:relative;background-image:none;margin-left:10%;" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-calendar glypphicicon" aria-hidden="true" ></span>Share Calender      
				</a>
				</br></br>
				 <a class="right carousel-control" style="position:relative;background-image:none;;margin-left:10%;" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-file glypphicicon" aria-hidden="true" ></span>Write Case Notes      
				</a>
				</br></br>
				 <a class="right carousel-control" style="position:relative;background-image:none;;margin-left:10%;" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-comment glypphicicon" aria-hidden="true" ></span>Write Comments      
				</a>
				</br></br>
				 <a class="right carousel-control" style="position:relative;background-image:none;;margin-left:10%;" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-paperclip glypphicicon" aria-hidden="true" ></span>Attach Files  and many more....
		<a class="btn btn-lg btn-primary" href="Features.html" role="button">>> Know More</a>
				</a>
				</br></br>
        
        </div>
      </div>
</div>
      