.dvRowBlue{
background-color:#3a5795;padding-left:0;padding-right:0;margin-left:0;margin-right:0;width:100%;margin-bottom:0;padding-top:4%;text-align:center;
}
.dvEcoContainer{
	width:100%;margin-left:0;padding-left:0;margin-right:0;padding-right:0;
}
.dvRowContainerBlack{
background-repeat:no-repeat;background-position:cover;background-color:#212121;margin-top:0%;padding-bottom:4%;padding-top:4%;
}
.dvRowContainerWhite{
background-repeat:no-repeat;background-position:cover;background-color:#ffffff;margin-top:0%;padding-bottom:4%;padding-top:4%;
}
.dvRowContainerWheatish{
background-repeat:no-repeat;background-position:cover;background-color:#EEEEEE;margin-top:0%;padding-bottom:4%;padding-top:4%;
}
.dvRowDeviceContainerWhite{
background-repeat:no-repeat;background-position:cover;background-color:#ffffff;margin-top:8%;padding-bottom:4%;padding-top:4%;
}

.dvRowWhite{
background-color:#ffffff;padding-left:0;padding-right:0;margin-left:0;margin-right:0;width:100%;margin-bottom:0;padding-top:4%;text-align:center;
}
.h1IndexWhite{
	font-weight:400;zoom:1;color:#ffffff;
}
.h3IndexWhite{
	font-weight:normal;font-size: 24px;font-weight:400;zoom:1;margin-top:3%;margin-bottom:7%;color:#ffffff;
}
.h1Indexblack{
	font-weight:400;zoom:1;color:#212121;
}
.h1Indexblue{
	font-weight:400;zoom:1;color:#3a5795;
}
.h3Indexblack{
	font-weight:normal;font-size: 24px;font-weight:400;zoom:1;margin-top:3%;margin-bottom:7%;color:#212121;
}
.h3IndexblackContactUs{
	font-weight:normal;font-size: 24px;font-weight:400;zoom:1;margin-top:3%;margin-bottom:3%;color:#212121;
}
.blueBkColor{
	background-color:3a5795;
}
.dvContainer{
	background-repeat:no-repeat;background-position:cover;background-color:#3a5795;margin-top:0%;padding-bottom:4%;padding-top:4%;
}
.dvPaddingZero{
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}
.dvMarginZero{
	Margin-bottom:0;
	Margin-left:0;
	Margin-right:0;
	Margin-top:0;
}
.relativecarouselControl{
	position:relative;background-image:none;margin-left:10%;background-color:#212121;
}
.glypphicicon{
	font-size:40px;;padding-right:15px;;margin-left:10%;
}
.h2Heading{
	font-weight:normal;font-size: 42px;font-weight:400;zoom:1;text-align:center;color:#ffffff;margin-left:0;padding-left:0;margin-top:5%;margin-bottom:2%;
}
.dvcol7{
	width:100%;background-color:#212121;
}
.uldiv{
	margin-right:35px;width:100%;padding-top:14px;
}
.dvFeatures{
	-webkit-animation-play-state: paused; -webkit-transition: none; transition: none;
}
.dvContactus{
	width:100%;
}
.dvContactBorder{
	background-color:#ffffff; margin: 0px;
    width: 60%;
    border:3px solid #EEEEEE;
    padding: 10px;
}
.dvFormRow{
	margin:auto;width:100%;padding-left:30px;
}
.dvContactUsContainer{
	margin-top:5%;
	height:18%;
}
.h3IndexBlogblack{
	font-weight:normal;font-weight:400;zoom:1;margin-top:5%;margin-bottom:2%;color:#212121;
}
.dvBlogEco{
	width:70%; margin:0 auto;padding-left:10%;
}
.dvCol6{
	width:90%;background-color:#EEEEEE;margin-bottom:2%;  border-radius:8px;padding-top: 2px; 
}
.h3Blog{
	margin-bottom:15px;color:#3a5795;font-size:18px;
}
.h4Blog{
	margin-top:0px;font-size:15px;margin-bottom:0px;
}
.blogButton{
	padding-top: 1px;padding-bottom: 5px;margin-left:0%;margin-right:20%;font-size:15px;
}
.dvcol7Blue{
	width:100%;background-color:#3a5795;
}
.dvcol7Wheatish{
	width:100%;background-color:#EEEEEE;
}
